@import "../variables";
@import "../mixins";

td, th {
  &:first-of-type {
    padding-left: 0px;
    padding-right: 24px;
  }

  &:last-of-type {
    padding-right: 0px;
    padding-left: 24px;
  }
}

.mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric {
  text-align: right;
}
