@import "../variables";
@import "../mixins";

.mdl-layout__drawer {
  transform: translateX($layout-drawer-width + 10px);
  -webkit-transform: translateX($layout-drawer-width + 10px);
  left: auto;
  right: 0;

  .mdl-layout-title {
    padding-left: 0;
    padding-right: 40px;
  }
}

.mdl-layout__drawer-button {
  left: auto;
  right: 0;
}

.mdl-layout__header {
  .mdl-layout--fixed-drawer:not(.is-small-screen) > & {
    margin-left:0;
    margin-right: $layout-drawer-width;
  }

  & > .mdl-layout-icon {
    left: auto;
    right: $layout-header-desktop-indent;

    @media screen and (max-width: $layout-screen-size-threshold) {
      left: auto;
      right: $layout-header-mobile-indent;
    }
  }
}

.mdl-layout__header-row {
  padding: 0 $layout-header-desktop-indent 0 $layout-header-desktop-baseline;
}

.mdl-layout__obfuscator {
  left: auto;
  right: 0;
}

.mdl-layout__content {
  .mdl-layout--fixed-drawer > & {
    margin-left: 0;
    margin-right: $layout-drawer-width;
  }

  @media screen and (max-width: $layout-screen-size-threshold) {
    .mdl-layout--fixed-drawer > & {
      margin-right: 0;
    }
  }
}

.mdl-layout__tab-bar {
  padding: 0 ($layout-header-desktop-baseline + $layout-tab-desktop-padding) 0 0;
}

.mdl-layout__tab-bar-container {
  .mdl-layout__container > & {
    top: 0;
    left: auto;
    right: 0;
  }
}

.mdl-layout__tab {
  float: right;
}

.mdl-layout__tab {
  .mdl-layout.is-upgraded &.is-active::after {
    left: auto;
    right: 0;
  }

  & .mdl-layout__tab-ripple-container {
    left: auto;
    right: 0;
  }
}